{{#unless this.loadData.isRunning}}
  {{#if this.hasOpeningHours}}
    <div>
      Geldig van {{moment-format this.validFrom 'DD-MM-YYYY'}} tot {{moment-format this.validThrough 'DD-MM-YYYY'}}
    </div>

    {{#each this.groupedOpeningHours as |group|}}
      <div>
        {{group.day.name}}
        {{#each group.hours as |openingHour|}}
          <FormatTime @time={{openingHour.opens}} /> - <FormatTime @time={{openingHour.closes}} />
        {{else}}
          Gesloten
        {{/each}}
      </div>
    {{/each}}
  {{else}}
    <i>Geen openingsuren gevonden</i>
  {{/if}}
{{/unless}}
{{yield}}
