{{#unless this.loadData.isRunning}}
  {{#if this.hasOpeningHours}}
    <p class="au-u-margin-bottom">
      Geldig van {{moment-format this.validFrom 'DD-MM-YYYY'}} tot {{moment-format this.validThrough 'DD-MM-YYYY'}}
    </p>

    <div class="au-o-grid au-o-grid--tiny au-u-margin-bottom-small">
      <div class="au-o-grid__item au-u-1-3">
        <strong>Dag</strong>
      </div>
      <div class="au-o-grid__item au-u-1-3">
        <strong>open van</strong>
      </div>
      <div class="au-o-grid__item au-u-1-3">
        <strong>tot</strong>
      </div>
    </div>

    {{#each this.groupedOpeningHours as |group|}}
      <div class="au-o-grid au-o-grid--tiny">
        <div class="au-o-grid__item au-u-1-3">
          <strong>{{group.day.name}}</strong>
        </div>
        {{#each group.hours as |openingHour|}}
          <div class="au-o-grid__item au-u-1-3">
            <FormatTime @time={{openingHour.opens}} />
          </div>
          <div class="au-o-grid__item au-u-1-3">
            <FormatTime @time={{openingHour.closes}} />
          </div>
        {{else}}
          <div class="au-o-grid__item au-u-2-3">
            Gesloten
          </div>
        {{/each}}
      </div>
    {{/each}}
  {{else}}
    <i>Geen openingsuren gevonden</i>
  {{/if}}
{{/unless}}
{{yield}}
