{{#unless this.loadData.isRunning}}
  {{#if this.hasOpeningHours}}
    <div>
      Geldig van {{moment-format this.validFrom 'DD-MM-YYYY'}} tot {{moment-format this.validThrough 'DD-MM-YYYY'}}
    </div>

    {{#each this.groupedOpeningHours as |group|}}
      <div>
        {{group.day.name}}
        {{#each group.hours as |openingHour|}}
          {{openingHour.opens}} - {{openingHour.closes}}
        {{else}}
          Gesloten
        {{/each}}
      </div>
    {{/each}}
  {{else}}
    Geen openingsuren gevonden
  {{/if}}
{{/unless}}
{{yield}}