<CrossAnimateTags>
  <div class="au-o-region-large au-c-hero">
    <div class="au-o-layout au-o-layout--medium">
      <p class="au-c-para-small au-u-margin-bottom">
        <LinkTo @route="index" class="au-c-link"><AuIcon @icon="arrow-left" @alignment="left" /> Terug naar overzicht</LinkTo>
      </p>
      <AuHeading @level="1" @skin="3" class="au-u-margin-bottom-small">Relance voor ondernemers</AuHeading>
      <p class="au-c-heading au-c-heading--1 au-u-margin-bottom  au-u-margin-bottom-large@medium">Hoe informatie over mijn onderneming <strong>online correct en uniform</strong> verspreiden?</p>
      <ul class="au-o-grid au-o-grid--small">
        <li class="au-o-grid__item au-u-1-3@medium">
          <AuHeading @level="3" @skin="4">
            <AuBadge @icon="arrow-right" @skin="info" /> Stap 1
          </AuHeading>
          <p class="au-c-para-small au-u-margin-top-small">
            Vul het formulier in met de gegevens over uw onderneming. Nadat u het heeft ingevuld, wordt er een stukje machineleesbare code gegenereerd.
          </p>
        </li>
        <li class="au-o-grid__item au-u-1-3@medium">
          <AuHeading @level="3" @skin="4">
            <AuBadge @icon="arrow-right" @skin="info" /> Stap 2
          </AuHeading>
          <p class="au-c-para-small au-u-margin-top-small">
            Plak de gegenereerde code in jouw site, en publiceer de site.
          </p>
          <p class="au-c-para-small">Op deze manier kunnen zoekmachines nu ook de juiste informatie terugvinden. </p>
        </li>
        <li class="au-o-grid__item au-u-1-3@medium">
          <AuHeading @level="3" @skin="4">
            <AuBadge @icon="arrow-right" @skin="info" /> Stap 3
          </AuHeading>
          <p class="au-c-para-small au-u-margin-top-small">
            Test of zoekmachines de juiste informatie terugvinden na publicatie van uw website. Klaar!
          </p>
          <p class="au-c-para-small">
            Benieuwd hoe goed jouw website het nu doet?
          </p>
          <p class="au-c-para-small"><AuLink @linkRoute="entrepreneurs.validate">Bekijk welke informatie we vinden op uw website</AuLink></p>
        </li>
      </ul>
      <p class="au-c-para au-u-margin-top au-u-margin-top-large@medium">
        <LinkTo @route="entrepreneurs.new" class="au-c-button au-c-button--large">
          <AuIcon @icon="arrow-right" @size="large" @alignment="left" /> Aan de slag
        </LinkTo>
      </p>
    </div>
  </div>

  <div class="au-o-region-large">
    <div class="au-o-layout au-o-layout--medium">
      <AuHeading @level="3" @skin="2" class="au-u-margin-bottom">De stappen in detail</AuHeading>
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-4-6@medium">
          <AuHeading @level="3" @skin="4" class="au-u-margin-bottom-small">
            <AuBadge @icon="arrow-right" @skin="info" /> Stap 1
          </AuHeading>
          <p class="au-c-para">
            Vul het formulier in met de gegevens over uw onderneming. Nadat u het heeft ingevuld, wordt er een stukje machineleesbare code gegenereerd.
          </p>
          <p class="au-c-para">
            We vragen informatie zoals beschrijving, adres en de openingsuren van uw onderneming. Deze genereert een stukje code dat op jouw website recht moet komen.
          </p>
        </div>
        <div class="au-o-grid__item au-u-2-6@medium au-u-visible-medium-up">
          <img src="{{rootURL}}assets/images/relance-form.svg">
        </div>
      </div>
      <hr class="au-c-divider">
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-4-6@medium">
          <AuHeading @level="3" @skin="4" class="au-u-margin-bottom-small">
            <AuBadge @icon="arrow-right" @skin="info" /> Stap 2
          </AuHeading>
          <p class="au-c-para">
            Plak de gegenereerde code in jouw site, en publiceer de site. Op deze manier kunnen zoekmachines nu ook de juiste informatie terugvinden.
          </p>
          <p class="au-c-para">
            Om ervoor te zorgen dat zoekmachines en mensen de juiste informatie terugvinden, moet de informatie op een duidelijke machine-leesbare manier te vinden zijn.
          </p>
          <p class="au-c-para">
            We hebben hier 3 opties:
          </p>
          <ol class="au-c-list au-c-list--numbered au-u-margin-top-small">
            <li>
              <AuPill @skin="success">Beste resultaat</AuPill>
              <p class="au-c-para-small au-u-margin-top-small">
                <strong>Plak de gegenereerde code in de broncode van de uw eigen website.</strong>
              </p>
              <p class="au-c-para-small">
                Zoekmachines en burgers vertrouwen websites van lokale besturen en de ondernemers zelf het meest. Dit zal het beste resultaat opleveren.
              </p>
              <p class="au-c-para-small">Neem indien nodig contact op met uw websitebeheerder om de mogelijkheden te bekijken.</p>
            </li>
            <li>
              <AuPill>U kan niet aan de broncode</AuPill>
              <p class="au-c-para-small au-u-margin-top-small">
                Kan u niet aan de broncode, maar enkel inhoud aanpassen? Geen probleem.
              </p>
              <p class="au-c-para-small">
                U krijgt een link voor elk van de ondernemingen van ons waarnaar u kan refereren op uw eigen website. Zoekmachines zullen dit iets minder snel oppikken dan de code rechtstreeks op uw eigen website, maar dit is ook absoluut correct.
              </p>
            </li>
            <li>
              <AuPill>Ondernemers zonder website</AuPill>
              <p class="au-c-para-small au-u-margin-top-small">
                Breng uw lokaal bestuur op de hoogte van dit initiatief, en stuur de link <a href="https://wijzijnopen.vlaanderen.be/" target="_blank" rel="noopen noreferrer" class="au-c-link">wijzijnopen.vlaanderen.be</a> samen met uw gegenereerde code door om op hun website te plakken.
              </p>
            </li>
          </ol>
        </div>
        <div class="au-o-grid__item au-u-2-6@medium au-u-visible-medium-up">
          <img src="{{rootURL}}assets/images/relance-code.svg">
        </div>
      </div>
      <hr class="au-c-divider">
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-4-6@medium">
          <AuHeading @level="3" @skin="4" class="au-u-margin-bottom-small">
            <AuBadge @icon="arrow-right" @skin="info" /> Stap 3
          </AuHeading>
          <p class="au-c-para">
            Test of zoekmachines de juiste informatie terugvinden na publicatie van uw website. Klaar!
          </p>
          <p class="au-c-para">
            We helpen u met ontdekken of dat zoekmachines nu de juiste informatie <i>kunnen</i> oppikken.
          </p>
          <p class="au-c-para au-u-margin-bottom">Benieuwd hoe goed jouw website het nu doet? <AuLink @linkRoute="entrepreneurs.validate">Bekijk welke informatie zoekmachines op jouw website vinden.</AuLink></p>
          <AuAlert @alertIcon="info-circle" @alertTitle="Het duurt enkele dagen voor zoekmachines uw website scannen en de gewenste informatie opslaan, maar dan bent u er in elk geval hélemaal klaar voor." @alertskin={{"info"}} @alertsize={{"small"}} />
        </div>
        <div class="au-o-grid__item au-u-2-6@medium au-u-visible-medium-up">
          <img src="{{rootURL}}assets/images/relance-test.svg">
        </div>
      </div>
      <p class="au-c-para au-u-margin-bottom">
        <LinkTo @route="entrepreneurs.new" class="au-c-button au-c-button--large"><AuIcon @icon="arrow-right" @size="large" @alignment="left" /> Aan de slag!</LinkTo>
      </p>
    </div>
  </div>
</CrossAnimateTags>

{{outlet}}
