<div>
  Live? Check!

  Zorg dat de website live staat, en link ons naar de juiste pagina om te testen
</div>

<div>
  <AuLabel for="url-input">Link naar de pagina</AuLabel>
  <AuInput id="url-input" @value={{this.url}} />
  <AuButton
    @loading={{this.harvestUrl.isRunning}}
    @disabled={{this.isDisabled}}
    {{on "click" (perform this.harvestUrl)}}>
    Test
  </AuButton>
</div>

{{#unless this.harvestUrl.isRunning}}
  {{#if this.localBusinesses}}
    Dat werkt! Dit is de informatie die we vonden:

    {{#each this.localBusinesses as |localBusiness|}}
      <LocalBusinessDetails @localBusiness={{localBusiness}} />
    {{/each}}
  {{else}}
    {{#if this.error}}
      Er is iets misgelopen bij het ophalen van de informatie. Controleer of de URL correct is.
    {{else if this.harvestUrl.performCount}}
      Oeps, we vonden geen informatie!
    {{/if}}
  {{/if}}
{{/unless}}
{{outlet}}