<CrossAnimateTags>
  <div class="au-o-layout au-o-layout--large au-u-padding-bottom-large au-u-margin-bottom-large au-u-border-bottom">
    <AuHeading level="1" @skin="1" class="au-u-margin-bottom">
      Voor ondernemers
      <br>
      Laat de wereld stap-voor-stap weten
      <br>
      dat je weer <i>Open for Business</i> bent
    </AuHeading>
  </div>

  <div class="au-o-layout au-o-layout--large">

    <div class="au-o-grid au-o-grid--flush">
      <div class="au-o-grid__item au-u-1-1 au-u-2-6@medium">
        <div class="au-u-padding-right-large">
          <div class="au-o-grid">
            <div class="au-o-grid__item au-u-1-6 au-u-visible-medium-up">
              <AuBadge @icon="check" @skin="success" />
            </div>
            <div class="au-o-grid__item au-u-5-6 au-u-visible-medium-up">
              <p class="au-c-heading au-c-heading--4 au-u-margin-bottom au-u-light">
                <strong>Stap 1</strong>
                <br>
                Vul de gegevens van uw onderneming in.
              </p>
            </div>

            <div class="au-o-grid__item au-u-1-6 au-u-visible-medium-up">
              <AuBadge @icon="check" @skin="success" />
            </div>
            <div class="au-o-grid__item au-u-5-6 au-u-visible-medium-up">
              <p class="au-c-heading au-c-heading--4 au-u-margin-bottom au-u-light">
                <strong>Stap 2</strong>
                <br>
                Plak de gegenereerde code in jouw site, en publiceer je site.
              </p>
            </div>

            <div class="au-o-grid__item au-u-1-6">
              <AuBadge @icon="pencil" @skin="border" />
            </div>
            <div class="au-o-grid__item au-u-5-6">

              <p class="au-c-heading au-c-heading--4 au-u-margin-bottom au-u-light">
                <strong>Stap 3</strong>
                <br>
                Test en zie het resultaat. Klaar!
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="au-o-grid__item au-u-1-1 au-u-4-6@medium au-u-2-6@medium">
        <AuHeading @level="2" @skin="2" class="au-u-margin-bottom-small">Bekijk welke informatie we vinden op uw website</AuHeading>
        <p class="au-c-heading au-c-heading--6 au-u-margin-bottom au-u-light">Zorg dat de website live staat met de aangepaste broncode, en link ons naar de juiste pagina om te testen. De test werkt enkel voor websites waar machineleesbare informatie in de broncode zit.</p>

        <div class="au-u-margin-bottom-large">
          <AuLabel for="url-input">Link naar uw website</AuLabel>
          <div class="au-o-grid au-o-grid--flush">
            <div class="au-o-grid__item au-u-1-1 au-u-5-6@medium">
              <AuInput id="url-input" @value={{this.url}} @width="block" />
            </div>
            <div class="au-o-grid__item au-u-1-1 au-u-1-6@medium">
              <AuButton
                @loading={{this.harvestUrl.isRunning}}
                @disabled={{this.isDisabled}}
                {{on "click" (perform this.harvestUrl)}}>
                Zoek informatie
              </AuButton>
            </div>
          </div>

          {{#unless this.harvestUrl.isRunning}}
            {{#if this.localBusinesses}}
              <AuHeading @level="3" @skin="3" class="au-u-margin-bottom au-u-margin-bottom--large">We hebben informatie op jouw website gevonden</AuHeading>
              <p class="au-u-heading au-u-heading--5">Dit is de informatie die we vonden:</p>
              {{#each this.localBusinesses as |localBusiness|}}
                <LocalBusinessDetails @localBusiness={{localBusiness}} />
              {{/each}}
          {{else}}
              {{#if this.error}}
                <AuHelpText @error="true">Er is iets misgelopen bij het ophalen van de informatie. Controleer of de URL correct is.</AuHelpText>
              {{else if this.harvestUrl.performCount}}
                <AuHeading @level="3" @skin="3" class="au-u-margin-bottom">Oeps, we vonden geen informatie!</AuHeading>
                <p class="au-u-heading au-u-heading--5">Kijk na of u de nieuwe informatie live staat op uw website. Kijk ook na of de code in dezelfde pagina werd gestopt die u ons heeft doorgegeven; bij voorkeur is dat de landingspagina.</p>
                <p class="au-u-heading au-u-heading--5">Neem contact op met uw webbeheerder indien dit blijft aanhouden.</p>
              {{/if}}
            {{/if}}
          {{/unless}}
        </div>

        <AuHeading @level="2" @skin="2" class="au-u-margin-bottom">Wil u zien hoe Google de gegevens op uw website interpreteert?</AuHeading>
        <p class="au-u-heading au-u-heading--5">Ga naar <a href="https://search.google.com/test/rich-results" target="_blank" rel="noopener">Test voor uitgebreide resultaten van Google</a>.</p>
      </div>

    </div>
  </div>
</CrossAnimateTags>
{{outlet}}
