<AuLabel for="{{this.inputFor}}-afbeelding">Afbeelding voor zoekmachines</AuLabel>
<div>
  <AuInput
    @value={{this._value}}
    size="40"
    id="{{this.inputFor}}-afbeelding"
    {{on "blur" this.updateUrl}}
  />
</div>
{{#if this.canShowImage}}
  {{#if this.showImage}}
    <div class="">
      <img src="{{this._value}}" class="au-c-image au-c-image--small au-o-box au-o-box--flush au-o-box--border au-u-margin-bottom-small au-u-margin-top-small">
    </div>
  {{/if}}
  <AuButtonGroup>
    {{#if this.showImage}}
      <AuButton @skin="secondary" {{on "click" this.toggleImage}}>
        Verberg afbeelding
      </AuButton>
    {{else}}
      <AuButton @skin="secondary" {{on "click" this.toggleImage}}>
        Laat afbeelding zien
      </AuButton>
    {{/if}}
  </AuButtonGroup>
{{else}}
  <AuHelpText>Indien de link naar de afbeelding correct ingevuld werd, zal deze hieronder verschijnen. Deze afbeelding wordt enkel gebruikt door zoekmachines.</AuHelpText>
{{/if}}
{{#if this.errorUrl}}
  <AuHelpText @error="true">Er is geen afbeelding gevonden op deze link.</AuHelpText>
{{/if}}
