<AuLabel for="{{this.inputFor}}-website">Afbeelding voor zoekmachines</AuLabel>
<div>
  <AuInput
    @value={{this._value}}
    size="40"
    id="{{this.inputFor}}-website"
    {{on "blur" this.updateUrl}}
  />
  OF
  <FileUpload
    @name="afbeelding"
    @accept="image/*"
    @multiple={{false}}
    @onfileadd={{@onUpdateImage}}>
    <span class="au-c-button au-c-button--secondary">
      {{!-- Sorry, I'm not allowed to use a button here --}}
      Laad afbeelding op
    </span>
  </FileUpload>
</div>

{{#if @imageFile}}
  {{@imageFile.id}}
{{else}}
  No image file
{{/if}}

{{#if this.canShowImage}}
  {{#if this.showImage}}
    <div class="au-o-box au-o-box--border au-u-margin-bottom au-u-margin-top">
      <img src="{{this.imageUrl}}" alt="Afbeelding van de onderneming">
    </div>
  {{/if}}
  <AuButtonGroup>
    {{#if this.showImage}}
      <AuButton @skin="secondary" {{on "click" this.toggleImage}}>
        Verberg afbeelding
      </AuButton>
    {{else}}
      <AuButton @skin="secondary" {{on "click" this.toggleImage}}>
        Laat afbeelding zien
      </AuButton>
    {{/if}}
  </AuButtonGroup>
{{else}}
  <AuHelpText>Indien de link naar de afbeelding correct ingevuld werd, zal deze hieronder verschijnen. Deze afbeelding wordt enkel gebruikt door zoekmachines.</AuHelpText>
{{/if}}
{{#if this.errorUrl}}
  <AuHelpText @error="true">Er is geen afbeelding gevonden op deze link.</AuHelpText>
{{/if}}
