<div class="au-c-form__row">
  <AuLabel>Dag</AuLabel>
  <PowerSelect
          @searchField={{"name"}}
          @searchEnabled={{true}}
          @selected={{this.openingHourSpec.dayOfWeek}}
          @options={{this.daysOfWeek}}
          @onChange={{this.updateDay}}
          @allowClear={{true}}
          @loadingMessage="Aan het laden..."
          @noMatchesMessage="Geen resultaten gevonden"
          as |day|>
    {{day.name}}
  </PowerSelect>
</div>

<div class="au-c-form__row">
  <AuLabel>Open vanaf</AuLabel>
  <AuInput
    @value={{this.openingHourSpec.opens}}
  />
  {{#if this.errorOpenHour}}
  error formaat
  {{/if}}
</div>

<div class="au-c-form__row">
  <AuInput
    @value={{this.openingHourSpec.closes}}
  />
  {{#if this.errorCloseHour}}
  error formaat
  {{/if}}
</div>

<AuButton {{on "click" this.removeEntry}}> verwijder </AuButton>
{{yield}}
