<div class="au-c-form__row">
  <AuLabel>Dag</AuLabel>
  <PowerSelect
          @searchField={{"name"}}
          @searchEnabled={{true}}
          @selected={{this.openingHourSpec.dayOfWeek}}
          @options={{this.daysOfWeek}}
          @onChange={{this.updateDay}}
          @allowClear={{true}}
          @loadingMessage="Aan het laden..."
          @noMatchesMessage="Geen resultaten gevonden"
          as |day|>
    {{day.name}}
  </PowerSelect>
</div>

<div class="au-o-grid au-o-grid--flush">
  <div class="au-o-grid__item au-u-1-2">
    <div class="au-c-form__row">
      <Forms::Input::Time
        @label="Van"
        @value={{this.openingHourSpec.opens}}
        @onChange={{fn (mut this.openingHourSpec.opens)}}
      />
    </div>
  </div>
  <div class="au-o-grid__item au-u-1-2">
    <div class="au-c-form__row">
      <Forms::Input::Time
        @label="Tot"
        @value={{this.openingHourSpec.closes}}
        @onChange={{fn (mut this.openingHourSpec.closes)}}
      />
    </div>
  </div>
</div>

<AuButton {{on "click" this.removeEntry}}> verwijder </AuButton>
{{yield}}
