<CrossAnimateTags>
  <div class="au-o-region-large au-c-hero">
      <div class="au-o-layout au-o-layout--medium">
        <p class="au-c-para-small au-u-margin-bottom">
          <LinkTo @route={{this.overviewRoute}} class="au-c-link"><AuIcon @icon="arrow-left" @alignment="left" /> Terug naar overzicht </LinkTo>
        </p>
        <AuHeading @level="1" @skin="1" class="au-u-margin-bottom-small">Pas hier de gegevens van de onderneming aan.</AuHeading>
      </div>
  </div>

  <Forms::LocalBusinessFormInput
    @localBusiness={{@model}}
    @onSubmit={{this.save}}
    @overviewRoute={{this.overviewRoute}}
    @isSubjectPageEdit="true"
  />



  <div class="au-o-region-large">
    <div class="au-o-layout au-o-layout--medium">
      <hr class="au-c-divider au-u-margin-top-none">
      <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">
        Aangepaste broncode
      </AuHeading>
      {{#if this.saveAll.isRunning}}
        De aangepase code wordt gegenereerd
      {{else}}
        <div class="au-c-code-block au-u-margin-top {{if this.displayCodeBlock "is-open" "is-closed"}}">
          {{#if this.displayCodeBlock}}
            <RdfaOutput::LocalBusiness @localBusiness={{@model}} />
          {{/if}}
          <div class="au-c-code-block__toggle">
            {{#if this.displayCodeBlock}}
              <AuButton @skin="secondary" {{on "click" this.toggleCodeBlock}}>
                Verberg broncode
              </AuButton>
            {{else}}
              <AuButton @skin="secondary" {{on "click" this.toggleCodeBlock}}>
                Toon broncode
              </AuButton>
            {{/if}}
          </div>
        </div>
      {{/if}}

      <hr class="au-c-divider">

      <div class="au-u-margin-bottom-large">
        <AuHeading @level="2" @skin="3" class="au-u-margin-bottom-tiny">
          Aangepaste link
        </AuHeading>
        <p class="au-c-para au-u-margin-bottom-tiny">Plak deze link op de landingspagina van uw website:</p>
        <Forms::DisplayUrlSubjectPage @providedUrl={{this.urlForSubjectPage}}/>
      </div>

      <hr class="au-c-divider">

      <AuButton @size="large" {{on "click" this.back}}>
        <AuIcon @icon="nav-left" @alignment="left" @size="large" @ariaHidden="false" />
        Terug naar overzicht
      </AuButton>
    </div>
  </div>

  <div class="au-o-region-large au-c-doormat">
    <div class="au-o-layout au-o-layout--medium">
      <AuHeading @level="2" @skin="2" class="au-u-margin-bottom">Stuur uw ondernemers de link <a href="https://wijzijnopen.vlaanderen.be/" target="_blank" rel="noopener norefferer" class="au-c-link">wijzijnopen.vlaanderen.be</a>, en help hun met hun informatie correct en machineleesbaar te verspreiden!</AuHeading>
      <p class="au-c-para">
        De extra stap naar uw burgers correct informeren en ondernemers te ondersteunen met hun relance, is ondernemers op de hoogte brengen van dit initiatief. Maak ze duidelijk hoe ze hun online presence kunnen corrigeren met "Wij zijn open".
      </p>
    </div>
  </div>
</CrossAnimateTags>
