<div class="au-o-region-large au-c-hero">
  <div class="au-o-layout au-o-layout--medium">
    <p class="au-c-para-small au-u-margin-bottom">
      <LinkTo @route="search" class="au-c-link"><AuIcon @icon="arrow-left" @alignment="left" /> Zoek ondernemingen</LinkTo>
    </p>
    <AuHeading @level="1" @skin="1" class="au-u-margin-bottom">Ondernemingen {{#if this.locationName}}uit {{this.locationName}}{{/if}}</AuHeading>

    <hr class="au-c-divider au-u-margin-top au-u-margin-bottom">

    {{#if this.model.length}}
      <ul class="au-o-grid au-o-grid--small">
        {{#each this.model as |localBusiness|}}
          <li class="au-o-grid__item au-u-1-2@medium">
            <RdfaOutput::LocalBusiness @localBusiness={{localBusiness}} @renderSnippet="true" />
            <div class="au-c-edit-footer au-u-margin-top-tiny">
              <LinkTo @route="entrepreneurs.subject-pages.edit" @model={{localBusiness.id}} class="au-c-link au-c-link--secondary">
                <AuIcon @icon="pencil" @alignment="left" />
                Bewerk
              </LinkTo>
              {{#if localBusiness.modified}}
                <p class="au-c-para-tiny">Laatst aangepast: {{moment-format localBusiness.modified 'DD-MM-YYYY HH:mm'}}</p>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>

      <div class="au-c-copy-row au-c-copy-row--center au-u-margin-top">
        <LinkTo @route="entrepreneurs.new" class="au-c-button au-c-button--block">
          <AuIcon @icon="add" @alignment="left" />
          Onderneming toevoegen
        </LinkTo>
      </div>

      <div class="au-c-pagination">
        <p class="au-c-pagination__info">
          <span class="au-u-hidden-visually">Rij</span>
          <strong>{{this.rangeStart}} - {{this.rangeEnd}}</strong> van {{this.total}} <span class="au-u-hidden-visually">resultaten</span>
        </p>
        <ul class="au-c-pagination__list">
          {{#unless this.isFirstPage}}
            <li class="au-c-pagination__item">
              <button class="au-c-button au-c-button--tertiary" {{on "click" this.previousPage}}>
                <AuIcon @icon="nav-left" @alignment="left" />
                vorige
                <span class="au-u-hidden-visually"> {{this.size}} rijen</span>
              </button>
            </li>
          {{/unless}}
          {{#unless this.isLastPage}}
            <li class="au-c-pagination__item">
              <button class="au-c-button au-c-button--tertiary" {{on "click" this.nextPage}}>
                volgende
                <AuIcon @icon="nav-right" @alignment="right" />
              </button>
            </li>
          {{/unless}}
        </ul>
      </div>

      <div class="au-c-alert au-u-margin-top">
        <div class="au-c-copy-row au-c-copy-row--center">
          <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">Wil je de code van deze blokken op je website plaatsen?</AuHeading>
          <CopyButton @clipboardText={{this.copyListHtml}} @success={{this.copySuccess}} class="au-c-button au-c-button--secondary">
            Kopieer de broncode van deze pagina
          </CopyButton>
          {{#if this.succesMessage}}
            <br>
            <span class="au-c-copied-message">Broncode gekopiëerd</span>
          {{/if}}
        </div>
      </div>
    {{else}}
      <p class="au-c-para">Helaas, geen ondernemingen gevonden voor postcode {{this.postalCode}}.</p>

      <div class="au-c-copy-row au-c-copy-row--center au-u-margin-top">
        <LinkTo @route="entrepreneurs.new" class="au-c-button au-c-button--block">
          <AuIcon @icon="add" @alignment="left" />
          Onderneming toevoegen
        </LinkTo>
      </div>
    {{/if}}


  </div>
</div>
