<h2>Vul het formulier in</h2>

Naam:
<AuInput
  @value={{this.localBusiness.name}}
/>
Beschrijving:
<AuInput
  @value={{this.localBusiness.description}}
/>
Website (rechstreeks)
<AuInput
  @value={{this.localBusiness.url}}
/>
Email
<AuInput
  @value={{this.localBusiness.email}}
/>
Telefoon
<AuInput
  @value={{this.localBusiness.telephone}}
/>

Openingsuren:  <AuButton {{on "click" this.addOpeningHoursSpecification}}> Voeg uren toe </AuButton>

{{#each this.localBusiness.openingHoursSpecifications as |openingHour| }}
  <div>
    <Forms::Input::OpeningHoursSpecificationEdit @openingHoursSpecification={{openingHour}} />
  </div>
{{/each}}



{{yield}}
