<h2>Vul het formulier in</h2>

Naam:
<AuInput
  @value={{this.args.localBusiness.name}}
/>
Beschrijving:
<AuInput
  @value={{this.args.localBusiness.description}}
/>
Website (rechstreeks)
<AuInput
  @value={{this.args.localBusiness.url}}
/>
Email
<AuInput
  @value={{this.args.localBusiness.email}}
/>
Telefoon
<AuInput
  @value={{this.args.localBusiness.telephone}}
/>
{{yield}}
