<h2>Vul het formulier in</h2>

<h3>Bedrijf</h3>
<div>
Naam:
<AuInput
  @value={{@localBusiness.name}}
/>
Beschrijving:
<AuInput
  @value={{@localBusiness.description}}
/>
Website (rechstreeks)
<AuInput
  @value={{@localBusiness.url}}
/>
{{#if this.errorUrl}}
  error url
{{/if}}


Email
<AuInput
  @value={{@localBusiness.email}}
/>
{{#if this.errorEmail}}
  error email
{{/if}}

Telefoon
<AuInput
  @value={{@localBusiness.telephone}}
/>
</div>
<h3>categorie</h3>
<div>
  <Forms::Input::BusinessCategorySelector  @selections={{@localBusiness.categories}} @onUpdate={{this.addCategories}}/>
</div>

<h3>Adres</h3>
<div>
Straat en nummer
<AuInput
  @value={{@localBusiness.location.streetAddress}}
/>
Postcode
<AuInput
  @value={{@localBusiness.location.postalCode}}
/>
Stad
<AuInput
  @value={{@localBusiness.location.city}}
/>
Land
<AuInput
  @value={{@localBusiness.location.country}}
/>

</div>

<h3>Openingsuren</h3>
<div>
Openingsuren:  <AuButton {{on "click" this.addOpeningHoursSpecification}}> Voeg uren toe </AuButton>

{{#each @localBusiness.openingHoursSpecifications as |openingHour| }}
  <div>
    <Forms::Input::OpeningHoursSpecificationEdit @openingHoursSpecification={{openingHour}} />
  </div>
{{/each}}

<br>

<EmberFlatpickr @date={{readonly this.openingHoursValidFrom}}
  @locale="nl"
  @dateFormat="d/m/yy"
  @onChange={{this.updateValidityFrom}} />

<EmberFlatpickr @date={{readonly this.openingHoursValidTo}}
  @locale="nl"
  @dateFormat="d/m/yy"
  @onChange={{this.updateValidityTo}} />

</div>
<AuButton {{on "click" this.submit}}> Volgende stap</AuButton>
{{yield}}
